.to-go__paragraf {
    display: flex;
    flex-direction: column;
    max-width: 785px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

@media screen and (max-width: 515px) {
    .to-go__paragraf {
        width: 100%;
        max-width: 100%;
    }
}