.to-go {
    display: flex;
    margin: 0 auto;
    max-width: calc(100% - 154px);
}

@media screen and (max-width: 935px) {
    .to-go {
        flex-direction: column;
        align-items: center;
        max-width: calc(100% - 20px);
    }
}