.places__paragraf {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 288px);
    margin: 0;
    padding: 74px 80px 95px 80px;
}

@media screen and (max-width: 1085px) {
    .places__paragraf {
        max-width: calc(100% - 100px);
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .places__paragraf {
        padding: 20px 20px;
        max-width: calc(100% - 40px);
    }
}

@media screen and (max-width: 600px) {
    .places__paragraf {
        padding: 0;
        max-width: calc(100% - 4px);
        margin: 0 auto;
    }
}