    .places__description {
        width: 100%;
        margin: 0;
        padding-top: 22px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        /* transform-origin: 0 0;
    transform: scaleX(1.3); */
        letter-spacing: 0.03em;
    }
    
    .places__description:first-child {
        padding: 0;
    }
    
    @media screen and (max-width: 600px) {
        .places__description {
            padding-top: 16px;
            font-size: 12px;
            line-height: 1.2;
        }
    }